.homeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

h2.title {
  margin: 0%;
}

p.introduction {
  margin: 0%;
  border: 1px solid rgba(128, 128, 128, 0.527);
  box-sizing: border-box;
  padding: 4px;
  background-color: rgb(245, 245, 245);
}