.navBar {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  padding: 0 64px;
  box-sizing: border-box;
}

h1 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  margin: 0%;
}

ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-self: center;
  flex-wrap: wrap;
}

li {
  height: auto;
}

ul > li:nth-child(-n+2) {
  border-right: 1px solid black;
  padding-right: 8px;
}
